@model Factory.DAL.Models.Permission.Page

@{
    ViewData["Title"] = "Page Details";
    Layout = "_LogedUser";
}

<div class="container-fluid card shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")
<div>
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Action</dt>
        <dd class="col-sm-10">@Model.Action</dd>

        <dt class="col-sm-2">Controller</dt>
        <dd class="col-sm-10">@Model.Controller</dd>

        <dt class="col-sm-2">Is Active</dt>
        <dd class="col-sm-10">@Model.IsActive</dd>

        <dt class="col-sm-2">Submodule</dt>
        <dd class="col-sm-10">@Model.SubmoduleId</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
</div>