@model UserCreateViewModel

@{
    ViewData["Title"] = Localizer["Add New User"].Value;
    Layout = "_LogedUser";
}

<div class="container-fluid card shadow-sm mt-3 p-4">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <form asp-action="Add" method="post">
        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="UserName" class="form-label">@Localizer["Username"]</label>
                <input asp-for="UserName" class="form-control" placeholder="@Localizer["Enter username"]" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Email" class="form-label">@Localizer["Email"]</label>
                <input asp-for="Email" class="form-control" placeholder="@Localizer["Enter email"]" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row g-3 mt-2">
            <div class="col-md-6">
                <label asp-for="PhoneNumber" class="form-label">@Localizer["Phone Number"]</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="@Localizer["Enter phone number"]" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="@Localizer["Enter password"]" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="row g-3 mt-2">
            <div class="col-md-6">
                <label asp-for="SelectedRole" class="form-label">@Localizer["Role"]</label>
                <select asp-for="SelectedRole" class="form-control" asp-items="Model.Roles">
                    <option value="">@Localizer["-- Select Role --"]</option>
                </select>
                <span asp-validation-for="SelectedRole" class="text-danger"></span>
            </div>

            <!-- IsActive -->
            <div class="col-md-6">
                <div class="form-check mt-4">
                    <input asp-for="IsActive" class="form-check-input" type="checkbox" />
                    <label asp-for="IsActive" class="form-check-label">@Localizer["Active"]</label>
                </div>
            </div>
        </div>

        <div class="card-footer text-center mt-1">
            <button type="submit" class="btn btn-outline-primary">
                <i class="fas fa-user-plus"></i> @Localizer["Add User"]
            </button>
            <a asp-action="Index" class="btn btn-secondary">@Localizer["Back to List"]</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}