@model List<UserViewModel>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 30%;">UserName</th>
                <th style="width: 15%;">Status</th>
                <th style="width: 50%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 1; 
            }
            @foreach (var user in Model)
            {
                <tr>
                    <td>@counter</td>
                    <td>@user.UserName</td>
                    <td>
                        @if (user.IsActive)
                        {
                            <span class="text-success"><i class="bi bi-check-circle-fill text-success"></i> Active</span>
                        }
                        else
                        {
                            <span class="text-danger"><i class="bi bi-x-circle-fill text-danger"></i> Inactive</span>
                        }
                    </td>
                    <td>
                        @if (user.IsActive)
                        {
                            <a href="@Url.Action("Add", "Auth")" class="btn btn-outline-success btn-sm me-2">Add</a>
                            <a href="@Url.Action("Edit", "Auth", new { id = user.Id })" class="btn btn-outline-info btn-sm me-2">Edit</a>
                            <a href="@Url.Action("Delete", "Auth", new { id = user.Id })" class="btn btn-outline-danger btn-sm">Delete</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Edit", "Auth", new { id = user.Id })" class="btn btn-outline-info btn-sm">Edit</a>
                        }
                    </td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
</div>