@using Factory.DAL.Enums
@model Factory.PL.ViewModels.Home.Dashboard.AdminDashboardViewModel

@{
    Layout = "_LogedUser";
    ViewData["Title"] = User.IsInRole(UserRole.SuperAdmin.ToString()) ? Localizer["AdminDashboardTitle"] :
                        User.IsInRole(UserRole.Owner.ToString()) || User.IsInRole(UserRole.GM.ToString()) ? Localizer["GMDashboardTitle"] :
                        User.IsInRole(UserRole.Accountant.ToString()) ? Localizer["AccountantDashboardTitle"] : Localizer["DashboardTitle"];
}
<div class="container-fluid card shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    @if (User.IsInRole(UserRole.SuperAdmin.ToString()) || User.IsInRole(UserRole.Owner.ToString()) || User.IsInRole(UserRole.GM.ToString()))
    {
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <a class="btn btn-outline-primary mb-2 mb-md-0 me-md-2" asp-action="Add" asp-controller="Auth">
                    @Localizer["AddNewButton"]
                </a>
                <button class="btn btn-outline-primary" asp-action="Index" asp-controller="Setting">
                    @Localizer["SettingsButton"]
                </button>
            </div>
        </div>
    }

    <div class="row g-4 mb-4">
        @foreach (var item in Model.DashboardItems)
        {
            @await Html.PartialAsync("DashBoard/_DashboardCard", item)
        }
    </div>

    @if (User.IsInRole(UserRole.SuperAdmin.ToString()) || User.IsInRole(UserRole.Owner.ToString()) || User.IsInRole(UserRole.GM.ToString()))
    {
        @await Html.PartialAsync("DashBoard/_AdminContent", Model)
    }
    else if (User.IsInRole(UserRole.Accountant.ToString()))
    {
        @await Html.PartialAsync("DashBoard/_AccountantContent", Model)
    }

    <!-- System Status Alert -->
    <div class="alert text-bg-success-soft border border-success border-opacity-25 mt-4">
        <div class="d-flex align-items-center">
            <i class="bi bi-check-circle-fill text-success me-3 fs-4"></i>
            <div>
                <h5 class="alert-heading mb-2">@Localizer["SystemStatusHeader"]</h5>
                <p class="mb-0">@Localizer["SystemStatusMessage"] @DateTime.Now.ToString("t")</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("DashBoard/_ChartModal")

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
}