@model Factory.PL.ViewModels.HR.DepartmentViewModel

@{
    ViewData["Title"] = Localizer["EditDepartment"];
    Layout = "_LogedUser";
}

<div class="container-fluid card shadow-sm p-3">
    @await Html.PartialAsync("ErrorSummaryPartial")
    @await Html.PartialAsync("_PageTitle")

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="NameEn" class="control-label">@Localizer["NameEn"]</label>
                    <input asp-for="NameEn" class="form-control" />
                    <span asp-validation-for="NameEn" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row g-3 mt-2">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Code" class="control-label">@Localizer["Code"]</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">@Localizer["Description"]</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="card-footer text-center mt-2">
            <input type="submit" value="@Localizer["Save"]" class="btn btn-outline-primary" />
            <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}